# Configuración de Puertos Host
BACKEND_PORT=8001
FRONTEND_PORT=3001

# Configuración de Mercado Libre
SITE_DOMAIN=www.mercadolibre.com.mx

# Frecuencia de extracción del worker (horas)
SCRAPE_INTERVAL_HOURS=6

# Porcentaje mínimo de descuento a monitorizar
MIN_DISCOUNT_PERCENT=10

# Base de Datos
DATABASE_URL=sqlite:////data/meli.db
